name: News Segmentation

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          port: 4096
          script: |
            cd /home/ubuntu/projects/election/new-segmentation
            git pull
            docker compose -f docker-compose.yml up -d --build --force-recreate